/*
*{
  border:1px dashed black;
}
*/
body {
  font: 17px Helvetica, Arial;
  background-color: #f7fffe;
}

form {
  background: #EEEEEE;
  padding: 3px;
  position: fixed;
  border-radius: 10px;
  bottom: 0;
  width: 18.5%;
}

form input {
  border: 0;
  padding: 10px;
  width: 50%;
  border-radius: 20px;
  margin-right: .5%;
}

form button {
  width: 60px;
  background: #53B2A9;
  border-radius: 50%;
}

#m {
  position: relative;
}

#effects {
  height:100px;
  background-color: #53b2a9;
  margin-bottom: 20px;
}

.message-board {
  position: fixed;
  z-index: 999;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 525px;
  overflow: auto; 
}

#messages li {
  position: relative;
  padding: 5px 10px;
  width: 234px;
}

#messages li:nth-child(odd) {
  background: #00DDCC;
}
#messages li:nth-child(even) {
  background: #EEEEEE;

}

.musicboard {
  float:left;
}

.slider.slider-value {
  float:left;
}

#gain-slider {
  width:20%;
}

#bq-frequency-slider {
  width:20%;
}

#bq-gain-slider {
  width:20%;
}

#bq-detune-slider {
  width:20%;
}

#attack {
  width: 20%;
}

/* keyboard */

select {
  font-size: 1em;
  background-color: white;
}


#keyboard {
}

.key {
  border-radius: 2px;
  color:#00DDCC;
  background: #EEEEEE;
  margin: 0 0.5%;
  width: 2.5%;
  padding: 3.5em 0;
  text-align: center;
  /*float: left;*/
  text-transform: uppercase;
  /*transition: margin 150ms ease-in-out;*/
}

.key:nth-child(even){
  background: #00DDCC;
  color:white;
}

.key.playing {
  background: #02ffe9;
  color: white;
  /*margin-top: 2em;*/
}



