/*
*{
  border:1px dashed black;
}
*/
body {
  font: 17px Helvetica, Arial;
  background-color: #e0fffc;
}

#msg-board {
  /*position: fixed;
  float:right;*/  
  width:400px;
  height:300px;
  overflow: auto;
  background-color: red;
}

form {
  background: #464b51;
  padding: 3px;
  position: fixed;
  border-radius: 10px;
  bottom: 0;
  width: 20%;
}

form input {
  border: 0;
  padding: 10px;
  width: 50%;
  border-radius: 20px;
  margin-right: .5%;
}

form button {
  width: 60px;
  background: #7c70a0;
  border-radius: 50%;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width:20%;
  position:absolute;
  height: 100%;
  overflow: scroll; 
}


#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #96ffd3;
}
#messages li:nth-child(even) {
  background: #f7f4a8;

}

.musicboard {
  float:left;
}

.slider.slider-value {
  float:left;
}

#gain-slider {
  width:20%;
}

#bq-frequency-slider {
  width:20%;
}

#bq-gain-slider {
  width:20%;
}

#bq-detune-slider {
  width:20%;
}

/* keyboard */

select {
  font-size: 1em;
  background-color: white;
}


#keyboard {
  width: 80%;
  float:left;
  overflow: hidden;
}

.key {
  border-radius: 2px;
  color:#00DDCC;
  background: #fff;
  margin: 0 0.5%;
  width: 2.5%;
  padding: 3.5em 0;
  text-align: center;
  float: left;
  text-transform: uppercase;
  transition: margin 150ms ease-in-out;
}

.key:nth-child(even){
  background: #00DDCC;
  height:1px;
  color:white;
}

.key.playing {
  background: #02ffe9;
  margin-top: 2em;
}



