/*
*{
  border:1px dashed black;
}
*/


body {
  font: 17px Helvetica, Arial;
  background-color: #f7fffe;
}

.user-name {
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 1000;

    background: #00ddcc; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #00ddcc 24%, #59a8e5 83%); 
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(24%,#00ddcc), color-stop(83%,#59a8e5)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #00ddcc 24%,#59a8e5 83%); 
    background: -o-radial-gradient(center, ellipse cover,  #00ddcc 24%,#59a8e5 83%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #00ddcc 24%,#59a8e5 83%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #00ddcc 24%,#59a8e5 83%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ddcc', endColorstr='#59a8e5',GradientType=1 );   
    
}


.login-form {
  padding: 2px;
  border-radius: 10px;
  bottom: 0;
  width: 19%;
  text-align: center;
  margin: auto;
  margin-top:280px;
  position: relative;
  top: 0; left: 0; bottom: 0; right: 0;
}

.login-input {
  border: 0;
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  margin-right: .5%;
  position: relative;
  margin:auto;
  font-size: 1em;
  text-align: center
}


.chat-form {
  background: #EEEEEE;
  padding: 3px;
  position: fixed;
  border-radius: 10px;
  bottom: 0;
  width: 18.5%;
}

.chat-input {
  border: 0;
  padding: 10px;
  width: 50%;
  border-radius: 20px;
  margin-right: .5%;
}

.submit-button {
  width: 60px;
  background: #53B2A9;
  border-radius: 50%;
}

#m {
  position: relative;
}

#effects {
  height:100px;
  background-color: #53b2a9;
  margin-bottom: 20px;
}

.message-board {
  position: fixed;
  z-index: 999;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 525px;
  overflow: auto; 
}

#messages li {
  position: relative;
  padding: 5px 10px;
  width: 234px;
}

#messages li:nth-child(odd) {
  background: #00DDCC;
}
#messages li:nth-child(even) {
  background: #EEEEEE;

}

.musicboard {
  float:left;
}

.slider.slider-value {
  float:left;
}

#gain-slider {
  width:20%;
}

#bq-frequency-slider {
  width:20%;
}

#bq-gain-slider {
  width:20%;
}

#bq-detune-slider {
  width:20%;
}

#attack {
  width: 20%;
}

/* keyboard */

select {
  font-size: 1em;
  background-color: white;
}



.navbar {
}

#keyboard {
}

.key {
  border-radius: 2px;
  color:#00DDCC;
  background: #EEEEEE;
  margin: 0 0.5%;
  width: 2.5%;
  padding: 3.5em 0;
  text-align: center;
  /*float: left;*/
  text-transform: uppercase;
  /*transition: margin 150ms ease-in-out;*/
}

.key:nth-child(even){
  background: #00DDCC;
  color:white;
}

.key.playing {
  background: #02ffe9;
  color: white;
  /*margin-top: 2em;*/
}



