
body {
  font: 17px Helvetica, Arial;
  background-color: #88eadf;
}

form {
  background: #464b51;
  padding: 3px;
  position: fixed;
  border-radius: 10px;
  bottom: 0;
  width: 20%;
}

form input {
  border: 0;
  padding: 10px;
  width: 50%;
  border-radius: 20px;
  margin-right: .5%;
}

form button {
  width: 40%;
  background: #7c70a0;
  border-radius: 20px;
  padding: 10px;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width:20%;
  position:absolute; 
}

#messages li {
  padding: 5px 10px;

}

#messages li:nth-child(odd) {
  background: #96ffd3;
}
#messages li:nth-child(even) {
  background: #f7f4a8;
}

.musicboard {
  float:right;
}

.note {
  width:30px;
  height:100px;
  margin-right: 2px;
  background:white;
  float:right;
  border-radius: 4px;
  transition-duration:.5s;
}

.note.notepressed {
  background:grey;
  transition-duration:.5s;
}

.slider.slider-value {
  float:right;
}
